       body {
            margin: 0;
            font-family: Arial, sans-serif;
             background: linear-gradient(190deg, #000, #9400d3);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }

        .container {
            text-align: center;
            color: white;
        }

        .photo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            overflow: hidden;
            margin: 0 auto;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        }

        .photo img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .animated-text {
            font-size: 1.8rem;
            font-weight: bold;
            margin: 20px 0;
            animation: fadeInUp 2s ease-in-out;
        }

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .button {
            background-color: #000;
            color: white;
            border: none;
            padding: 15px 30px;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            text-decoration: none;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.3s;
        }

        .button:hover {
            background-color: #222;
            transform: scale(1.05);
        }


      .corner-image {
            position: absolute; /* Define posição absoluta na página */
            top: 10px; /* Distância do topo */
            left: 10px; /* Distância da esquerda */
            width: 100px; /* Tamanho personalizado */
            height: 100px;
            z-index: 10; /* Garante que fique na frente de outros elementos (se necessário) */
        }

        .corner-image img {
            width: 60%;
        }
